// // Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// // Variables
// @import 'variables';

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

$backgroundColor: #131515;

body {
  position: relative;
  background-color: $backgroundColor;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

/*
 * Navigation styles
 */

@import 'navigation';


/*
 *  Form styles
 */

@import 'add_user';
@import 'add_item';

/*
 * Index card styles
 */

@import 'user_index';

/*
 * User Info styles
 */
@import 'user_info';

/*
 * Item Info styles
 */
 @import 'item_info';

 /*
  * Item Index styles
  */
@import 'item_index';

/*
 * Movement styles
 */
@import 'movement';