@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap);@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap);body {
  background-color: #020327;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

/*
 * Navigation styles
 */

.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.navigation-item {
  position: relative;
  flex-basis: 20%;
  font-family: "Montserrat", sans-serif;
}

.navigation-item > a {
  position: relative;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 0.6rem;
  z-index: 3;
}

.navigation-item > a > span {
  margin-top: 8px;
  display: block;
}

.navigation-item:hover .dropdown,
.navigation-item:focus-within .dropdown {
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.icon-container {
  width: 100%;
  display: grid;
  place-items: center;
  height: 2rem;
  font-size: 1.3rem;
}

.dropdown {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: transform 0.5s ease 0.3s;
}

.dropdown li:last-child .dropdown-item {
  border: 0;
  border-radius: 0 0 0.5rem 0.5rem;
}

.dropdown span {
  flex-basis: 70%;
  text-align: center;
}

.dropdown-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  display: flex;
  padding: 0.6rem 0;
  border-bottom: gray 1px solid;
}

.dropdown-item .icon-container {
  flex-basis: 30%;
}

.navigation a {
  color: #f1faee;
  background-color: #1d3557;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.navigation a i {
  transition: font-size 0.5s ease;
}

.navigation a:hover,
.navigation a:focus {
  color: #457b9d;
  background-color: #a8dadc;
}

.navigation a:hover i,
.navigation a:focus i {
  font-size: 1.8rem;
}

/*
 *  Form styles
 */

form {
  max-width: 500px;
  margin: 50px auto;
}

form input {
  max-width: 100%;
  line-height: 90px;
  outline: 0;
  border: 0;
  padding: 0;
  border-bottom: 8px solid #85FFC7;
  margin-bottom: 40px;
  font-size: 80px;
  background-color: transparent;
  font-family: inherit;
  color: #85FFC7;
}

form input:-moz-placeholder-shown {
  opacity: 0.4;
}

form input:-ms-input-placeholder {
  opacity: 0.4;
}

form input:placeholder-shown {
  opacity: 0.4;
}

form input:focus {
  opacity: 1;
}

form input:valid {
  opacity: 1;
}

form input:invalid {
  color: rgba(133, 255, 199, 0.4);
  border-bottom-color: #BB0A21;
  box-shadow: none;
}

form input:invalid:-moz-placeholder-shown {
  border-bottom-color: #85FFC7;
}

form input:invalid:-ms-input-placeholder {
  border-bottom-color: #85FFC7;
}

form input:invalid:placeholder-shown {
  border-bottom-color: #85FFC7;
}

form input::-moz-placeholder {
  opacity: 0.4;
}

form input:-ms-input-placeholder {
  opacity: 0.4;
}

form input::-ms-input-placeholder {
  opacity: 0.4;
}

form input::placeholder {
  opacity: 0.4;
}

.invalid {
  border-bottom-color: #BB0A21 !important;
}

form input:valid,
form input:invalid,
form input:focus,
form input:required {
  transition: color 0.5s ease, border-bottom-color 0.5s ease, opacity 0.5s ease;
}

label {
  display: block;
  color: #85FFC7;
}

.center {
  text-align: center;
}

button {
  margin-top: 40px;
  border: 0;
  outline: 0;
  font-family: inherit;
  font-size: 18px;
  width: 50%;
  height: 60px;
  border-radius: 30px;
  background-color: #F9DC5C;
  color: #1F2041;
  cursor: pointer;
}

button:hover {
  background-color: #85FFC7;
  font-size: 20px;
}

button,
button:hover {
  transition: background-color 1s ease, font-size 1s ease;
}

